In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('data/lob/full_lob.csv', index_col=0)
df

          Timestamp Exchange Order Type  Price  Quantity        Date
0             0.000    Exch0        Bid    NaN       NaN  2025-05-13
1             1.612    Exch0        Bid    1.0       1.0  2025-05-13
2             2.170    Exch0        Bid    1.0       1.0  2025-05-13
3             2.449    Exch0        Bid    2.0       1.0  2025-05-13
4             2.945    Exch0        Bid    3.0       1.0  2025-05-13
...             ...      ...        ...    ...       ...         ...
82477385  30599.945    Exch0        Ask  211.0       3.0  2025-05-06
82477385  30599.945    Exch0        Ask  333.0       3.0  2025-05-06
82477385  30599.945    Exch0        Ask  580.0       5.0  2025-05-06
82477385  30599.945    Exch0        Ask  605.0       3.0  2025-05-06
82477385  30599.945    Exch0        Ask  636.0       5.0  2025-05-06

[541332982 rows x 6 columns]

In [6]:
# randomly sample data to reduce size
df = df.sample(frac=0.1, random_state=1)
df

          Timestamp Exchange Order Type  Price  Quantity        Date
73738419  15449.904    Exch0        Ask  544.0       4.0  2025-01-10
31669302  30162.814    Exch0        Bid    6.0      11.0  2025-04-01
39708759   8332.676    Exch0        Bid  106.0       2.0  2025-06-25
58859080   4316.750    Exch0        Ask  407.0       2.0  2025-04-17
41931739   3612.678    Exch0        Ask  114.0       1.0  2025-06-30
...             ...      ...        ...    ...       ...         ...
76571113   1019.497    Exch0        Ask  283.0       3.0  2025-06-12
15648264   9461.107    Exch0        Bid  103.0       3.0  2025-02-25
25167004   2805.035    Exch0        Bid   39.0       7.0  2025-06-18
17510973  24486.559    Exch0        Bid  278.0       2.0  2025-01-16
80270477   4651.860    Exch0        Ask  141.0       1.0  2025-06-13

[54133298 rows x 6 columns]

In [7]:
df.to_csv('data/lob/sample_lob.csv')