In [8]:
# import pandas as pd
# import ast
# import re

# # load a single LOB File
# with open('data/UoB_Set01_2025-01-02LOBs.txt', 'r') as f:
#     data = f.read().splitlines()

# data[1]

# # load each of the rows in data to a data frame splitting by comma for each row
# df = pd.DataFrame([x.split(',') for x in data])
# df


# # rows = []

# # pattern = r"\[(.*?), (.*?), \[\['bid', \[((?:\[\d+, \d+\],? ?)+)\]\], \['ask', \[((?:\[\d+, \d+\],? ?)+)\]\]\]\]"

# # # Check that each line in the file matches pattern
# # for entry_str in data:
# #     match = re.match(pattern, entry_str)
# #     if match:
# #         timestamp, exchange, bid_orders_str, ask_orders_str = match.groups()
# #         timestamp = float(timestamp)
# #         bid_orders = ast.literal_eval(f'[{bid_orders_str}]') if bid_orders_str else []
# #         ask_orders = ast.literal_eval(f'[{ask_orders_str}]') if ask_orders_str else []
        
# #         # Flatten
# #         for price, quantity in bid_orders:
# #             rows.append([timestamp, exchange, 'bid', price, quantity])
# #         for price, quantity in ask_orders:
# #             rows.append([timestamp, exchange, 'ask', price, quantity])

# # # Convert to DataFrame
# # df = pd.DataFrame(rows, columns=['Timestamp', 'Exchange', 'Type', 'Price', 'Quantity'])

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,50,51
0,[0.000,Exch0,[['bid',[]],['ask',[]]]],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,[0.279,Exch0,[['bid',[[1,6]]],['ask',[]]]],None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,[1.333,Exch0,[['bid',[[1,6]]],['ask',[[800,1]]]]],None,None,...,None,None,None,None,None,None,None,None,None,None
3,[1.581,Exch0,[['bid',[[1,6]]],['ask',[[799,1]]]]],None,None,...,None,None,None,None,None,None,None,None,None,None
4,[1.643,Exch0,[['bid',[[1,6]]],['ask',[[798,1]]]]],None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352965,[30599.542,Exch0,[['bid',[[290,1],[288,2],[281,4],[278,...,None,None,None,None,None,None,None,None,None,None
352966,[30599.573,Exch0,[['bid',[[290,1],[288,2],[281,4],[278,...,None,None,None,None,None,None,None,None,None,None
352967,[30599.635,Exch0,[['bid',[[290,1],[288,2],[281,4],[278,...,None,None,None,None,None,None,None,None,None,None
352968,[30599.759,Exch0,[['bid',[[288,1],[281,4],[278,1],[270,...,None,None,None,None,None,None,None,None,None,None
352969,[30599.945,Exch0,[['bid',[[288,1],[281,4],[278,1],[270,...,None,None,None,None,None,None,None,None,None,None

In [20]:
import pandas as pd
import re

data = []

with open('data/UoB_Set01_2025-01-02LOBs.txt', 'r') as f:
    for line in f:
        # Extract timestamp, exchange, bids, and asks using regular expressions
        timestamp = float(re.search(r'\[(.*?),', line).group(1))
        exchange = re.search(r', (.*?), \[\[', line).group(1).strip("'")
        bids = re.findall(r"'bid', \[(.*?)\]", line)
        asks = re.findall(r"'ask', \[(.*?)\]", line)

        # Convert bids and asks from strings to lists of lists
        bids = [list(map(int, re.sub(r'[\[\]]', '', bid).split(', '))) for bid in bids[0].split('], [') if bid]
        asks = [list(map(int, re.sub(r'[\[\]]', '', ask).split(', '))) for ask in asks[0].split('], [') if ask]

        # Create a new row for each bid and ask
        for bid in bids:
            data.append({'timestamp': timestamp, 'exchange': exchange, 'bid': bid, 'ask': None})
        for ask in asks:
            data.append({'timestamp': timestamp, 'exchange': exchange, 'bid': None, 'ask': ask})

df = pd.DataFrame(data)

df = df.sort_values(by='timestamp')
df

        timestamp exchange       bid       ask
0           0.279    Exch0    [1, 6]      None
1           1.333    Exch0    [1, 6]      None
2           1.333    Exch0      None  [800, 1]
3           1.581    Exch0    [1, 6]      None
4           1.581    Exch0      None  [799, 1]
...           ...      ...       ...       ...
705924  30599.635    Exch0      None  [294, 1]
705925  30599.759    Exch0  [288, 1]      None
705926  30599.759    Exch0      None  [294, 1]
705927  30599.945    Exch0  [288, 1]      None
705928  30599.945    Exch0      None  [294, 1]

[705929 rows x 4 columns]