In [15]:
import pandas as pd
import ast
import re

# load a single LOB File
with open('data/UoB_Set01_2025-01-02LOBs.txt', 'r') as f:
    data = f.read().splitlines()

data

rows = []

pattern = r"\[(.*?), (.*?), \[\['bid', \[((?:\[\d+, \d+\],? ?)+)\]\], \['ask', \[((?:\[\d+, \d+\],? ?)+)\]\]\]\]"

# Check that each line in the file matches pattern
for entry_str in data:
    match = re.match(pattern, entry_str)
    if match:
        timestamp, exchange, bid_orders_str, ask_orders_str = match.groups()
        timestamp = float(timestamp)
        bid_orders = ast.literal_eval(f'[{bid_orders_str}]') if bid_orders_str else []
        ask_orders = ast.literal_eval(f'[{ask_orders_str}]') if ask_orders_str else []
        
        # Flatten
        for price, quantity in bid_orders:
            rows.append([timestamp, exchange, 'bid', price, quantity])
        for price, quantity in ask_orders:
            rows.append([timestamp, exchange, 'ask', price, quantity])

# Convert to DataFrame
df = pd.DataFrame(rows, columns=['Timestamp', 'Exchange', 'Type', 'Price', 'Quantity'])


df

         Timestamp Exchange Type  Price  Quantity
0            1.333    Exch0  bid      1         6
1            1.333    Exch0  ask    800         1
2            1.581    Exch0  bid      1         6
3            1.581    Exch0  ask    799         1
4            1.643    Exch0  bid      1         6
...            ...      ...  ...    ...       ...
5168016  30599.945    Exch0  bid     19         2
5168017  30599.945    Exch0  ask    294         1
5168018  30599.945    Exch0  ask    397         5
5168019  30599.945    Exch0  ask    401         5
5168020  30599.945    Exch0  ask    714         3

[5168021 rows x 5 columns]