In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/lob/sample_lob.csv', index_col=0)
df

          Timestamp Exchange Order Type  Price  Quantity        Date
73738419  15449.904    Exch0        Ask  544.0       4.0  2025-01-10
31669302  30162.814    Exch0        Bid    6.0      11.0  2025-04-01
39708759   8332.676    Exch0        Bid  106.0       2.0  2025-06-25
58859080   4316.750    Exch0        Ask  407.0       2.0  2025-04-17
41931739   3612.678    Exch0        Ask  114.0       1.0  2025-06-30
...             ...      ...        ...    ...       ...         ...
76571113   1019.497    Exch0        Ask  283.0       3.0  2025-06-12
15648264   9461.107    Exch0        Bid  103.0       3.0  2025-02-25
25167004   2805.035    Exch0        Bid   39.0       7.0  2025-06-18
17510973  24486.559    Exch0        Bid  278.0       2.0  2025-01-16
80270477   4651.860    Exch0        Ask  141.0       1.0  2025-06-13

[54133298 rows x 6 columns]